In [1]:
#Run the importent librarioes:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

# Q1.

In [2]:
driver=webdriver.Chrome(r"C:\Users\ADMIN\Downloads\chromedrive.exe")

In [3]:
driver = webdriver.Chrome(r"Chromedriver.exe")

In [ ]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos#Top_videos")

In [11]:
Rank_R = []
video_name = []
Artist_A= []
Upload_date=[]
Views_V=[]

In [12]:
#scraping video_name from the given page             #finde the Lcators:
video_tags = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')
for i in video_tags:
    video =i.text
    video_name.append(video)
    
#scraping from Rank the given page
Rank_list = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]')
for i in Rank_list:
    Rank = i.text
    Rank_R.append(Rank)
    
#scraping from Artist from the given page
Artist_tags = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[3]')
for i in Artist_tags:
    Artist = i.text
    Artist_A.append(Artist)
    
#scraping upload_date from the given page
Upload_list = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]')
for i in Upload_list:
    Upload = i.text
    Upload_date.append(Upload)
    
    
#scraping upload_date from the given page
Views_list = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[4]')
for i in Views_list:
    Views = i.text
    Views_V.append(Views)

### make a Data Frame:

In [18]:
import pandas as pd
df = pd.DataFrame({'Rank':Rank_R ,'Video_Name':video_name,'Artist':Artist_A, 'Views':Views_V,'Upload_date':Upload_date})
df

,Rank,Video_Name,Artist,Views,Upload_date
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,12.73,"June 17, 2016"
1,2.,"""Despacito""[7]",Luis Fonsi,8.14,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,6.69,"October 8, 2016"
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,6.15,"May 2, 2018"
4,5.,"""Shape of You""[16]",Ed Sheeran,5.97,"January 30, 2017"
5,6.,"""See You Again""[18]",Wiz Khalifa,5.86,"April 6, 2015"
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,5.26,"March 6, 2014"
7,8.,"""Wheels on the Bus""[24]",Cocomelon – Nursery Rhymes,5.14,"May 24, 2018"
8,9.,"""Uptown Funk""[25]",Mark Ronson,4.89,"November 19, 2014"
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,4.87,"February 27, 2018"
10,11.,"""Gangnam Style""[27]",Psy,4.77,"July 15, 2012"
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,4.55,"January 31, 2012"
12,13.,"""Dame Tu Cosita""[33]",El Chombo,4.32,"April 5, 2018"
13,14.,"""Axel F""[34]",Crazy Frog,3.87,"June 16, 2009"
14,15.,"""Sugar""[35]",Maroon 5,3.86,"January 14, 2015"
15,16.,"""Roar""[36]",Katy Perry,3.78,"September 5, 2013"
16,17.,"""Counting Stars""[37]",OneRepublic,3.77,"May 31, 2013"
17,18.,"""Sorry""[38]",Justin Bieber,3.65,"October 22, 2015"
18,19.,"""Baa Baa Black Sheep""[39]",Cocomelon – Nursery Rhymes,3.61,"June 25, 2018"
19,20.,"""Thinking Out Loud""[40]",Ed Sheeran,3.58,"October 7, 2014"
20,21.,"""Waka Waka (This Time for Africa)""[41]",Shakira,3.56,"June 4, 2010"
21,22.,"""Dark Horse""[42]",Katy Perry,3.50,"February 20, 2014"
22,23.,"""Faded""[43]",Alan Walker,3.44,"December 3, 2015"
23,24.,"""Perfect""[44]",Ed Sheeran,3.42,"November 9, 2017"
24,25.,"""Lakdi Ki Kathi""[45]",Jingle Toons,3.42,"June 14, 2018"
25,26.,"""Let Her Go""[46]",Passenger,3.42,"July 25, 2012"
26,27.,"""Girls Like You""[47]",Maroon 5,3.40,"May 31, 2018"
27,28.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,3.38,"January 26, 2018"
28,29.,"""Lean On""[49]",Major Lazer,3.37,"March 22, 2015"
29,30.,"""Bailando""[50]",Enrique Iglesias,3.37,"April 11, 2014"

# Q3.

In [75]:
driver.get("http://statisticstimes.com/")

In [76]:
IndianGDP=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()

# make a list:

In [119]:
Rank_R = []
State_S = []
GSDP_tags=[]
current_GSDP=[]
Share_18to19=[]
GDP_billion=[]

In [120]:
#scraping Rank from the given page             #finde the Lcators:
Rank_list = driver.find_elements(By.XPATH,'//table[@class="display dataTable"][1]/tbody/tr/td[1]')
for i in Rank_list[0:33]:
    Rank =i.text
    Rank_R.append(Rank)
    
#scraping State from the given page             
State_list = driver.find_elements(By.XPATH,'//table[@class="display dataTable"][1]/tbody/tr/td[2]')
for i in State_list[0:33]:
    State =i.text
    State_S.append(State) 
    
#scraping GSDP(18-19)- at current prices:
GSDP_list = driver.find_elements(By.XPATH,'//table[@class="display dataTable"][1]/tbody/tr/td[4]')
for i in GSDP_list[0:33]:
    GSDP =i.text
    GSDP_tags.append(GSDP)
    
#scraping GSDP(19-20)- at current prices:
current_tags = driver.find_elements(By.XPATH,'//table[@class="display dataTable"][1]/tbody/tr/td[3]')
for i in current_tags[0:33]:
    current =i.text
    current_GSDP.append(current)
    

#scraping  Share(18-19):
Share_tags = driver.find_elements(By.XPATH,'//table[@class="display dataTable"][1]/tbody/tr/td[5]')
for i in Share_tags[0:33]:
    Share =i.text
    Share_18to19.append(Share)
    
#scraping GDP_$billion :
GDP_tags = driver.find_elements(By.XPATH,'//table[@class="display dataTable"][1]/tbody/tr/td[6]')
for i in GDP_tags[0:33]:
    GDP =i.text
    GDP_billion.append(GDP)

### make a dataframe:

In [124]:
import pandas as pd
df = pd.DataFrame({'Rank':Rank_R,'State':State_S,'GDP$billon':GDP_billion,'Share 18-19':Share_18to19,'GSDP(18-19)- at current prices':GSDP_tags,' GSDP(19-20)- at current prices':current_GSDP})
df

,Rank,State,GDP$billon,Share 18-19,GSDP(18-19)- at current prices,GSDP(19-20)- at current prices
0,1,Maharashtra,399.921,13.94%,"2,632,792",-
1,2,Tamil Nadu,247.629,8.63%,"1,630,208","1,845,853"
2,3,Uttar Pradesh,240.726,8.39%,"1,584,764","1,687,818"
3,4,Gujarat,228.290,7.96%,"1,502,899",-
4,5,Karnataka,226.806,7.91%,"1,493,127","1,631,977"
5,6,West Bengal,165.556,5.77%,"1,089,898","1,253,832"
6,7,Rajasthan,143.179,4.99%,"942,586","1,020,989"
7,8,Andhra Pradesh,131.083,4.57%,"862,957","972,782"
8,9,Telangana,130.791,4.56%,"861,031","969,604"
9,10,Madhya Pradesh,122.977,4.29%,"809,592","906,672"
10,11,Kerala,118.733,4.14%,"781,653",-
11,12,Delhi,117.703,4.10%,"774,870","856,112"
12,13,Haryana,111.519,3.89%,"734,163","831,610"
13,14,Bihar,80.562,2.81%,"530,363","611,804"
14,15,Punjab,79.957,2.79%,"526,376","574,760"
15,16,Odisha,74.098,2.58%,"487,805","521,275"
16,17,Assam,47.982,1.67%,"315,881",-
17,18,Chhattisgarh,46.187,1.61%,"304,063","329,180"
18,19,Jharkhand,45.145,1.57%,"297,204","328,598"
19,20,Uttarakhand,37.351,1.30%,"245,895",-
20,21,Jammu & Kashmir,23.690,0.83%,"155,956",-
21,22,Himachal Pradesh,23.369,0.81%,"153,845","165,472"
22,23,Goa,11.115,0.39%,"73,170","80,449"
23,24,Tripura,7.571,0.26%,"49,845","55,984"
24,25,Chandigarh,6.397,0.22%,"42,114",-
25,26,Puducherry,5.230,0.18%,"34,433","38,253"
26,27,Meghalaya,5.086,0.18%,"33,481","36,572"
27,28,Sikkim,4.363,0.15%,"28,723","32,496"
28,29,Manipur,4.233,0.15%,"27,870","31,790"
29,30,Nagaland,4.144,0.14%,"27,283",-
30,31,Arunachal Pradesh,3.737,0.13%,"24,603",-
31,32,Mizoram,3.385,0.12%,"22,287","26,503"
32,33,Andaman & Nicobar Islands,-,-,-,-

# Q5.

In [4]:
driver.get(" https:/www.billboard.com/")

### Find the Locator of 100 songs:

In [5]:
billboardSongs=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div[1]/div[2]/span/a').click()

In [ ]:
#make a list:

In [27]:
song_name = []
Artist_name = []
Last_week =[]
Peak_rank = []
Weeks_board = []

In [28]:
#scraping Artist name from the given page             #finde the Lcators:
Artist_tag = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/span')
for i in Artist_tag:
    Artist =i.text
    Artist_name.append(Artist)
    
#scraping song name fom the given page             
song_tag = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/h3')
for i in song_tag:
    song =i.text
    song_name.append(song)
    
#scraping last week from the given page
last_tag = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[4]')
for i in last_tag:
    last =i.text
    Last_week.append(last)
    
#scraping peak rank from the given page
peak_tag = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[5]')
for i in peak_tag:
    peak =i.text
    Peak_rank.append(peak)
    
#scraping peak rank from the given page
week_tag = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[6]')
for i in week_tag:
    week =i.text
    Weeks_board.append(week)

In [ ]:
# make a Dataframe:

In [31]:
import pandas as pd
df = pd.DataFrame({'Artist_name':Artist_name,'song_name':song_name,'Last_week':Last_week,'Peak_rank':Peak_rank,'Weeks_board': Weeks_board,})
df

,Artist_name,song_name,Last_week,Peak_rank,Weeks_board
0,SZA,Kill Bill,4,1,19
1,Morgan Wallen,Last Night,1,1,12
2,Miley Cyrus,Flowers,3,1,14
3,Ice Spice & Nicki Minaj,Princess Diana,-,4,1
4,Eslabon Armado X Peso Pluma,Ella Baila Sola,10,5,5
...,...,...,...,...,...
95,Old Dominion,Memory Lane,96,96,3
96,The Kid LAROI,Love Again,88,40,12
97,Morgan Wallen,'98 Braves,100,27,7
98,Grupo Marca Registrada X Grupo Frontera,Di Que Si,-,99,1
99,Scotty McCreery,It Matters To Her,-,100,1

# Q7.

In [4]:
driver.get('https://www.imdb.com/list/ls095964455/')

In [ ]:
#make a list:

In [34]:
Name_N =[]
Year_span =[]
Genre_G =[]
Vote_V=[]
Run_time=[]

In [41]:
#scraping  name from the given page             #finde the Lcators:
Name_tag= driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3/a')
for i in Name_tag:
    Name =i.text
    Name_N.append(Name)
    
#scraping year from the given page
Year_tag= driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3/span')
for i in Year_tag[:100]:
    Year =i.text
    Year_span.append(Year)
    
#scraping vots from the given page
Vote_tag= driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[4]')
for i in Vote_tag:
    Vote =i.text
    Vote_V.append(Vote)
    
#scraping Run time from the given page
Run_tag= driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p/span[3]')
for i in Run_tag:
    Run =i.text
    Run_time.append(Run)
    
# scraping genre fom this page
Genre_tag= driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p/span[5]')
for i in Genre_tag:
    Genre =i.text
    Genre_G.append(Genre)

In [44]:
import pandas as pd
df = pd.DataFrame({'Name_N':Name_N,'Year_span':Year_span,'Genre_G':Genre_G,'Run_time':Run_time,'Vote_V': Vote_V})
df

,Name_N,Year_span,Genre_G,Run_time,Vote_V
0,Game of Thrones,1.,"Action, Adventure, Drama",57 min,"Votes: 2,153,759"
1,Stranger Things,(2011–2019),"Drama, Fantasy, Horror",51 min,"Votes: 1,235,752"
2,The Walking Dead,2.,"Drama, Horror, Thriller",44 min,"Votes: 1,023,113"
3,13 Reasons Why,(2016–2024),"Drama, Mystery, Thriller",60 min,"Votes: 301,074"
4,The 100,3.,"Drama, Mystery, Sci-Fi",43 min,"Votes: 260,009"
...,...,...,...,...,...
395,Reign,(2011–2021),Drama,42 min,"Votes: 51,400"
396,A Series of Unfortunate Events,49.,"Adventure, Comedy, Drama",50 min,"Votes: 63,440"
397,Criminal Minds,(2011–2018),"Crime, Drama, Mystery",42 min,"Votes: 206,848"
398,Scream: The TV Series,50.,"Comedy, Crime, Drama",45 min,"Votes: 42,941"
399,The Haunting of Hill House,(2013–2020),"Drama, Horror, Mystery",572 min,"Votes: 256,485"

# Q6.

In [7]:
driver.get(' https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [26]:
#make a list:
Book_name = []
Author_name =[]
Volumes_sold =[]
Publisher_P = []
Genre_G =[]

In [27]:
#scraping Book name from the given page             #finde the Lcators:
Book_tag = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in Book_tag:
    Book =i.text
    Book_name.append(Book)
#scrapng Author Name from the given page
Author_tag = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in Author_tag:
    Author =i.text
    Author_name.append(Author)
#scrapng Volumes sold from the gven page
Volumes_tag = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in Volumes_tag:
    Volumes=i.text
    Volumes_sold.append(Volumes)
#scraping Publisher of the book
Publisher_tag = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in Publisher_tag:
    Publisher=i.text
    Publisher_P.append(Publisher)
#scrapig the Genre of the book
Genre_tag = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in Genre_tag:
    Genre=i.text
    Genre_G.append(Genre)

### Make a dataframe:

In [28]:
import pandas as pd
df = pd.DataFrame({'Book_name':Book_name,'Author_name':Author_name,'Volumes_sold':Volumes_sold,'Publisher': Publisher_P,'Genre':Genre_G})
df

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Q8.

In [4]:
driver.get('https://archive.ics.uci.edu/')

In [5]:
search = driver.find_element(By.XPATH,'//input[@type="text"]')
search_button = driver.find_element(By.XPATH,'//input[@type="submit"]')

In [6]:
search.send_keys("Dataset")
search_button.click()

In [48]:
#make a list:
Dataset_name =[]
Data_type = []
Task_T=[]
Attribute_type =[]
No_instances =[]
No_attribute =[]
Year_R=[]

In [49]:
#scraping the dataset name from gven page
Dataset_tag = driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[1]')
for i in Dataset_tag:
    Dataset =i.text
    Dataset_name.append(Dataset)
#scraping the data type from given page
Data_tag = driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[2]')
for i in Data_tag:
    Data =i.text
    Data_type.append(Data)
#scraping task frome given page
task_tag = driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[3]')
for i in task_tag:
    task =i.text
    Task_T.append(task)
#scraping Attribute type from given page
Attribute_tag = driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[4]')
for i in Attribute_tag[0:623]:
    Attribute=i.text
    Attribute_type.append(Attribute)
#scraping no. of instance from given page
instances_tag = driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[5]')
for i in instances_tag:
    instances=i.text
    No_instances.append(instances)
#scraping no. of attributes fom given page
Attribute_list = driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[6]')
for i in Attribute_list:
    Attribute=i.text
    No_attribute.append(Attribute)
#scraping year rom the given page
Year_tag = driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[7]')
for i in Year_tag:
    Year=i.text
    Year_R.append(Year)

### make a dataframe:

In [53]:
import pandas as pd
df = pd.DataFrame({'Dataset_name':Dataset_name,' Data_type': Data_type,'Task_T':Task_T,'Attribute_type':Attribute_type,'No_instances':No_instances,' No_attribute':No_attribute,'Year_R': Year_R})
df

,Dataset_name,Data_type,Task_T,Attribute_type,No_instances,No_attribute,Year_R
0,Name,Data Types,Default Task,Attribute Types,# Instances,# Attributes,Year
1,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
4,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
...,...,...,...,...,...,...,...
618,Influenza outbreak event prediction via Twit...,Multivariate,Classification,"Integer, Real",75840,525,2020
619,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
620,Maternal Health Risk Data Set,,Classification,,1014,7,2020
621,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
622,Image Recognition Task Execution Times in Mo...,Univariate,Regression,Real,4000,2,2021

# Q9.

In [4]:
driver.get('https://www.naukri.com/hr-recruiters-consultants')

In [5]:
search = driver.find_element(By.XPATH,'//input[@class="sugInp"]')
search_button = driver.find_element(By.XPATH,'//button[@class="fl qsbSrch blueBtn"]')

In [6]:
search.send_keys('Data Science')
search_button.click()

In [77]:
# make a list
Name_N = []
Designation_D =[]
Company_y =[]
Skills_S =[]
Location_L=[]

In [78]:
#scraping the Designation from te given page
Designation_tag = driver.find_elements(By.XPATH,'//span[@class="ellipsis clr"]')
for i in Designation_tag[0:49]:
    Designation=i.text
    Designation_D.append(Designation)
#scraping the Company of the given page
Company_tag = driver.find_elements(By.XPATH,'//a[@class="ellipsis"]')
for i in Company_tag[0:49]:
    Company=i.text
    Company_y.append(Company)
#scraping the location of the given page
location_tag = driver.find_elements(By.XPATH,'//small[@class="ellipsis"]')
for i in location_tag[0:49]:
    location=i.text
    Location_L.append(location)
#scraping the skils of the give page
skills_tag = driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')
for i in skills_tag[0:49]:
    skills=i.text
    Skills_S.append(skills)

In [81]:
import pandas as pd
df = pd.DataFrame({'Name':Name_N,'Designation':Designation_D,'Company':Company_y,'Skills':Skills_S,'Locations':Location_L})
df

,Name,Designation,Company,Skills,Locations
0,Aakash Harit,HR Manager,Aakash Harit,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Data Science Network,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,shravan Kumar Gaddam,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Shore Infotech India Pvt. Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,MARSIAN Technologies LLP,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,MARSIAN Technologies LLP,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,Anik Agrawal,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Enerlytics Software Solutions Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,subhas patel,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,LibraryXProject,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Abhishek - Only Analytics Hiring - India and,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,Apidel Technologies Division of Transpower,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,Institute for Financial Management and Resear,"Office Administration, Hr Administration, tele...",Mumbai
13,Priyanka Akiri,HR Manager,IFMR,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
14,Kapil Devang,HR Manager,Balu Ramesh,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
15,Mahesh Babu Channa,HR Team Lead,Techvantage Systems Pvt Ltd,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
16,Vaishnavi Kudalkar,HR Executive,Asif Lucknowi,"Data Science, Python, Data Analytics",Mumbai
17,Sakshi Chhikara,Assistant Manager HR,Weupskill- Live Wire India,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,InstaFinancials,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Manisha Yadav,HR Executive,CBL Data Science Private Limited,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Kalpana Dumpala,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,Innominds Software,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,Mubarak,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,MoneyTap,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Sandhya Khandagale,HR Recruiter,Kushal Rastogi,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Manager Human Resources,QuantMagnum Technologies Pvt. Ltd.,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Deeparchi Sharma,Company Recruiter,Priyanka Akiri,"Research, Digital Marketing, Analytics, Softwa...",Gurgaon
27,Azahar Shaikh,Company Recruiter,Infinitive Software Solutions,"Data Science, Artificial Intelligence, Machine...",Pune
28,Manas,Lead Talent acquisition,Kapil Devang,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
29,kumar,Proprietor,BISP Solutions,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
30,Sunil Vedula,CEO,Mahesh Babu Channa,"Signal Processing, Machine Learning, Neural Ne...",Delhi
31,Rajat Kumar,Founder CEO,SocialPrachar.com,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
32,Dhruv Dev Dubey,Company Recruitment Head,Vaishnavi Kudalkar,"Server Administartion, Verilog, Vhdl, Digital ...",Noida
33,Avnish Mishra,Senior Technical &amp; Corporate Recruiter,Codeachive learning,"Data Science, Machine Learning, Deep Learning,...",Mysoru / Mysore
34,Jayanth N,Project Manager,Sakshi Chhikara,"Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
35,Avodha,Business Development Associate,BIZ INFOTECNO PRIVATE LIMITED,"Ethical Hacking, Security Operations Center, S...",Bengaluru / Bangalore
36,Priya Khare,Senior Manager,Ruchi Dhote,"Data Science, Artificial Intelligence, analyti...",New Delhi
37,Amit Sharma,Consultant,Bristlecone India Ltd,"Machine Learning, Artificial Intelligence, Dat...",Chennai
38,Kanan,senior technology instructor,Manisha Yadav,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
39,Shashikant Chaudhary,HR Recruiter/HR Excutive,Easi Tax,"Relationship Management, Retail Sales, Private...",Salt Lake City
40,Brad,"Manager, Technical Recruiting",Riya Rajesh,"Data Science, Software Engineering",Pune
41,Rutuja Pawar,Technical Recruiter,Novelworx Digital Solutions,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
42,Madhusudhan Sridhar,Erp Implementer,Rashmi Bhattacharjee,"Data Science, Recruitment, Salary",Mumbai
43,Ankit Sinha,Head Analytics,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
44,Gaurav Chouhan,Chief Technical Officer,Faizan Kareem,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
45,Rashi Kacker,Sr Product Manager,FirstTech Consaltants Pvt.Ltd,"Data Science, Node.js, Angularjs",MYSORE
46,Ashwini,Director Global Delivery,Rithika dadwal,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
47,Balaji Kolli,Co Founder,Affine Analytics,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
48,Rajani Nagaraj,HR Manager,Sandhya Khandagale,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai

# Q4.

In [4]:
driver.get('https://github.com/')

In [40]:
# make a list:
Repository_title =[]
Repository_description=[]
Contributors_count=[]
Language_used=[]

In [41]:
# make a Repo:
Repository_tag = driver.find_elements(By.XPATH,'//article[@class="Box-row"]/h2/a')
for i in Repository_tag[0:24]:
    Repository=i.text
    Repository_title.append(Repository)
#make Repository_description:
description_tag = driver.find_elements(By.XPATH,'//article[@class="Box-row"]/p')
for i in description_tag[0:24]:
    description=i.text
    Repository_description.append(description)
#make Language coun
Language_tag = driver.find_elements(By.XPATH,'//article[@class="Box-row"]/div/span[1]')
for i in Language_tag[0:24]:
    Language=i.text
    Language_used.append(Language)
#make a coontributers count:
contributors_tag = driver.find_elements(By.XPATH,'//article[@class="Box-row"]/div/a[2]')
for i in contributors_tag[0:24]:
    contributors=i.text
    Contributors_count.append(contributors)

### mae a dataframe

In [42]:
import pandas as pd
df = pd.DataFrame({'Repository_title':Repository_title,'Contributors_count':Contributors_count,'Language_used':Language_used,'Repository_description':Repository_description})
df

,Repository_title,Contributors_count,Language_used,Repository_description
0,xtekky / gpt4free,"1,885",Python,"decentralising the Ai Industry, just some lang..."
1,AIGC-Audio / AudioGPT,117,Python,"AudioGPT: Understanding and Generating Speech,..."
2,gaomingqi / Track-Anything,167,Python,Track-Anything is a flexible and interactive t...
3,Eugeny / tabby,"2,777",TypeScript,A terminal for a more modern age
4,whoiskatrin / chart-gpt,167,TypeScript,AI tool to build charts based on text input
5,apple / swift-foundation,37,Swift,The Foundation project
6,gmpetrov / databerry,101,TypeScript,The no-code platform for connecting custom dat...
7,deep-floyd / IF,106,Python,"Official implementation of the paper ""Segment ..."
8,UX-Decoder / Segment-Everything-Everywhere-All...,61,Python,WizardLM: Empowering Large Pre-Trained Languag...
9,nlpxucan / WizardLM,34,Python,[秋城落叶] QQ 音乐源无损歌曲下载
10,QiuChenly / QQFlacMusicDownloader,207,Python,😎 Awesome lists about all kinds of interesting...
11,sindresorhus / awesome,"25,515",Built by,The Generative AI Landscape - A Collection of ...
12,ai-collection / ai-collection,284,Built by,A GPT-empowered penetration testing tool
13,GreyDGL / PentestGPT,117,Python,An Open Source Financial Switch to make Paymen...
14,juspay / hyperswitch,246,Rust,Dark and Darker private server implementation ...
15,Snaacky / dndserver,52,Python,NeMo Guardrails is an open-source toolkit for ...
16,NVIDIA / NeMo-Guardrails,41,Python,Modular Auto-GPT Framework
17,farizrahman4u / loopgpt,55,Python,SkyAGI: Emerging human-behavior simulation cap...
18,litanlitudan / skyagi,16,Python,The AutoGPT MetaTrader Plugin is a software to...
19,isaiahbjork / Auto-GPT-MetaTrader-Plugin,18,Python,Fine-tuning LLaMA to follow Instructions withi...
20,ZrrSkywalker / LLaMA-Adapter,161,Python,A full-featured download manager.
21,agalwood / Motrix,"4,141",JavaScript,交易模块
22,BigBrotherTrade / trader,190,Python,Run GPT model on the browser with WebGPU. An i...
23,0hq / WebGPT,110,JavaScript,The modern web developer’s platform